<div class="container">
  <h2>hello this is Store Page</h2>
</div>
<div ng-controller='StoreController'>
  <section class="site-section py-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-4">Computer Store</h2>
        </div>
      </div>
      <div class="row blog-entries">
        <div class="col-md-12 col-lg-8 main-content">
          <div class="row">
            <div class="col-md-6" ng-repeat="inventory in inventories">
              <a href="" class="blog-entry element-animate fadeIn element-animated" data-animate-effect="fadeIn">
                <img src="/templates/computer.png" alt="">
                <div class="blog-content-body">
                  <div class="post-meta">
                    <span class="mr-2" >
                      <span ng-if="inventory.subCategory !== null">
                          {{inventory.subCategory}} <br> {{ inventory.modelName }}
                      </span>
                      <span ng-if="inventory.subCategory === null">
                          {{inventory.category }} <br> {{ inventory.modelName}}
                      </span>
                    </span>
                  </div>
                  <h2>{{inventory.sellingPrice + '$'}}</h2>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4 sidebar">

          <div class="sidebar-box">
            <h3 class="heading">Popular</h3>
            <div class="post-entry-sidebar">
              <ul>
                <li>
                  <a href="/articles/all/60-Things-To-Be-Thankful">
                    <img src="/images/008.jpeg" alt="" class="mr-4">
                    <div class="text">
                      <h4>computer</h4>
                      <div class="post-meta">
                        <span class="mr-2">150$</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p></p>

</div>